# Environment
ENVIRONMENT=development

# Server
SERVER_PORT=8080

# Database
{{- if eq .Database "postgres"}}
DATABASE_URL=postgres://postgres:postgres@localhost:5432/{{.Name}}?sslmode=disable
{{- end}}
{{- if eq .Database "mysql"}}
DATABASE_URL=mysql://root:root@localhost:3306/{{.Name}}
{{- end}}
{{- if eq .Database "mongodb"}}
DATABASE_URL=mongodb://mongo:mongo@localhost:27017/{{.Name}}
{{- end}}

{{- if .Cache}}

# Redis
REDIS_URL=redis://localhost:6379
{{- end}}

{{- if eq .EventBus "nats"}}

# NATS
EVENT_BUS_URL=nats://localhost:4222
{{- end}}
{{- if eq .EventBus "kafka"}}

# Kafka
EVENT_BUS_URL=localhost:9092
{{- end}}
{{- if eq .EventBus "rabbitmq"}}

# RabbitMQ
EVENT_BUS_URL=amqp://guest:guest@localhost:5672/
{{- end}}
